.button {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
}

.primary {
    color: white;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

.outlined {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
